.head{
    text-align: center;
    font-size: medium;
    color: gray;
    text-size-adjust: 25px;
}
ul{
    font-family: sans-serif;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li{
    display: inline;
}